StudentsManagementSystem/Connected Services/StudentsManagementService/ExecutorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentsManagementService.Command.StudentCommands" />
  <xs:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StudentsManagementService.Queries.StudentQueries" />
  <xs:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCF.Domain.StudentsManagement" />
  <xs:element name="CreateStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentsManagementService.Command.StudentCommands" minOccurs="0" name="command" nillable="true" type="q1:CreateStudentCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentsManagementService.Queries.StudentQueries" minOccurs="0" name="query" nillable="true" type="q2:StudentListQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF.Domain.StudentsManagement" minOccurs="0" name="ReadStudentResult" nillable="true" type="q3:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StudentsManagementService.Command.StudentCommands" minOccurs="0" name="command" nillable="true" type="q4:UpdateStudentCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StudentsManagementService.Command.StudentCommands" minOccurs="0" name="command" nillable="true" type="q5:DeleteStudentCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>