StudentsManagementSystem/Connected Services/StudentsManagementService/ExecutorService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Domain.LecturerManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Domain.LecturerManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WCF.Domain.CourseManagement" />
  <xs:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WCF.Shared" />
  <xs:complexType name="Lecturer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.Shared" base="q1:AggregateRoot">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.Domain.CourseManagement" minOccurs="0" name="Courses" nillable="true" type="q2:ArrayOfCourse" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Lecturer" nillable="true" type="tns:Lecturer" />
</xs:schema>