StudentsManagementSystem/Connected Services/StudentsManagementService/ExecutorService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Domain.StudentsManagement.ReadModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Domain.StudentsManagement.ReadModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WCF.Shared" />
  <xs:complexType name="StudentDetailsDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.Shared" base="q1:AggregateRoot">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GPI" type="xs:double" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StudentId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StudentDetailsDto" nillable="true" type="tns:StudentDetailsDto" />
</xs:schema>