StudentsManagementSystem/Connected Services/StudentsManagementService/ExecutorService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentsManagementService.Command.StudentCommands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentsManagementService.Command.StudentCommands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateStudentCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gpi" type="xs:double" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateStudentCommand" nillable="true" type="tns:CreateStudentCommand" />
  <xs:complexType name="UpdateStudentCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gpi" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateStudentCommand" nillable="true" type="tns:UpdateStudentCommand" />
  <xs:complexType name="DeleteStudentCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteStudentCommand" nillable="true" type="tns:DeleteStudentCommand" />
</xs:schema>