StudentsManagementSystem/Connected Services/StudentsManagementService/ExecutorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AggregateRoot">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AggregateRoot" nillable="true" type="tns:AggregateRoot" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
</xs:schema>