StudentsManagementSystem/Connected Services/StudentsManagementService/ExecutorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Domain.CourseManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Domain.CourseManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/WCF.Domain.LecturerManagement" />
  <xs:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCF.Domain.StudentsManagement" />
  <xs:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WCF.Shared" />
  <xs:complexType name="ArrayOfCourse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourse" nillable="true" type="tns:ArrayOfCourse" />
  <xs:complexType name="Course">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.Shared" base="q1:AggregateRoot">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.Domain.LecturerManagement" minOccurs="0" name="Lecturer" nillable="true" type="q2:Lecturer" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF.Domain.StudentsManagement" minOccurs="0" name="Students" nillable="true" type="q3:ArrayOfStudent" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
</xs:schema>