StudentsManagementSystem/Connected Services/StudentsManagementService/ExecutorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExecutorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentsManagementService.Command.StudentCommands" />
      <xsd:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StudentsManagementService.Queries.StudentQueries" />
      <xsd:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCF.Domain.StudentsManagement" />
      <xsd:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WCF.Shared" />
      <xsd:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WCF.Domain.CourseManagement" />
      <xsd:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/WCF.Domain.LecturerManagement" />
      <xsd:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/StudentsManagementService.Query.StudentQueries" />
      <xsd:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/WCF.Domain.StudentsManagement.ReadModels" />
      <xsd:import schemaLocation="http://localhost:56704/ExecutorService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/StudentsManagementService.Query.CourseQueries" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExecutorService_CreateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudent" />
  </wsdl:message>
  <wsdl:message name="IExecutorService_CreateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutorService_ReadStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadStudent" />
  </wsdl:message>
  <wsdl:message name="IExecutorService_ReadStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutorService_UpdateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudent" />
  </wsdl:message>
  <wsdl:message name="IExecutorService_UpdateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutorService_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IExecutorService_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutorService_StudentDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:StudentDetails" />
  </wsdl:message>
  <wsdl:message name="IExecutorService_StudentDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutorService_ReadCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCourses" />
  </wsdl:message>
  <wsdl:message name="IExecutorService_ReadCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutorService_GetCourseByStudentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseByStudentId" />
  </wsdl:message>
  <wsdl:message name="IExecutorService_GetCourseByStudentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseByStudentIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IExecutorService">
    <wsdl:operation name="CreateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutorService/CreateStudent" message="tns:IExecutorService_CreateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutorService/CreateStudentResponse" message="tns:IExecutorService_CreateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutorService/ReadStudent" message="tns:IExecutorService_ReadStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutorService/ReadStudentResponse" message="tns:IExecutorService_ReadStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutorService/UpdateStudent" message="tns:IExecutorService_UpdateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutorService/UpdateStudentResponse" message="tns:IExecutorService_UpdateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutorService/DeleteStudent" message="tns:IExecutorService_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutorService/DeleteStudentResponse" message="tns:IExecutorService_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudentDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutorService/StudentDetails" message="tns:IExecutorService_StudentDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutorService/StudentDetailsResponse" message="tns:IExecutorService_StudentDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutorService/ReadCourses" message="tns:IExecutorService_ReadCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutorService/ReadCoursesResponse" message="tns:IExecutorService_ReadCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseByStudentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutorService/GetCourseByStudentId" message="tns:IExecutorService_GetCourseByStudentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutorService/GetCourseByStudentIdResponse" message="tns:IExecutorService_GetCourseByStudentId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExecutorService" type="tns:IExecutorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateStudent">
      <soap:operation soapAction="http://tempuri.org/IExecutorService/CreateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadStudent">
      <soap:operation soapAction="http://tempuri.org/IExecutorService/ReadStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap:operation soapAction="http://tempuri.org/IExecutorService/UpdateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IExecutorService/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentDetails">
      <soap:operation soapAction="http://tempuri.org/IExecutorService/StudentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCourses">
      <soap:operation soapAction="http://tempuri.org/IExecutorService/ReadCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseByStudentId">
      <soap:operation soapAction="http://tempuri.org/IExecutorService/GetCourseByStudentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExecutorService">
    <wsdl:port name="BasicHttpBinding_IExecutorService" binding="tns:BasicHttpBinding_IExecutorService">
      <soap:address location="http://localhost:56704/ExecutorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>